@model IEnumerable<NoiThatHome.Models.LOAISP>

@{
    ViewBag.Title = "LoaiSP";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>LoaiSP</h2>

<p>
    @Html.ActionLink("Thêm", "ThemLoaiSP")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiSP)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaLoaiSP", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Chi Tiết", "CTLSP", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Xóa", "XoaLoaiSP", new { id=item.MaLoaiSP })
        </td>
    </tr>
}

</table>
