@model IEnumerable<NoiThatHome.Models.LOAIPHONG>

@{
    ViewBag.Title = "LoaiPhong";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>LoaiPhong</h2>

<p>
    @Html.ActionLink("Thêm", "ThemLoaiPhong")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiPhong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiPhong)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaLoaiPhong", new { id=item.MaLoaiPhong }) |
            @Html.ActionLink("Chi Tiết", "CTLP", new { id=item.MaLoaiPhong }) |
            @Html.ActionLink("Xóa", "XoaLoaiPhong", new { id=item.MaLoaiPhong })
        </td>
    </tr>
}

</table>
